.mainFichasJogador{
    height: 78vh;
    justify-content: center;
}

.tituloPagina{
    color: #00ffff;

}

#caixaCriarAventura{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    height: auto;
    overflow-y: scroll;
}

body{
    background-color: #333;
}

#fdivAventura{
    background-color: rgb(88, 88, 88);
    width: 1200px;
    height: 100%;
    border: #00ffff 3px solid;
    padding-left: 20px;
    padding-top: 10px;
}

#imgAndDescricao{
    display:inline-flex;
    justify-content: space-evenly;
    margin-top: 15px;
    width: 100%;
}

#formImagem{
    display: flex;
    flex-direction: column;
}

#imgPH{
    height: 193px;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#formDescricao{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}


#txtAreaDescricao{
    border-radius: 4px;
    background-color: #333;
    color: white;
}

#nomeAventura{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;

}

#formNome{
    justify-content: center;
}

#inputNomeAventura{
    margin-right: 20px;
    background-color: #333;
    color: white;
    font-family:'Open sans', sans-serif;
}

#botoes{
    display: flex inline;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 15px;
}

#butFinalizar{
    background-color: #f3eb00;
    color: rgb(0, 0, 0);
    margin-right: 20px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    font-family:'Open sans', sans-serif; font-weight: bold;

}

#butSair{
    background-color: rgb(186, 1, 1);
    color: white;  
    margin-right: 20px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    font-family:'Open sans', sans-serif; font-weight: bold;

}

@media screen and (max-width: 767px) {
    #imgAndDescricao{
        display: grid;
        grid-template-rows: repeat(2, minmax(0, 1fr));
        justify-content:center;
        margin-top: 15px;
        width: 100%;
    }
}