.mainFichasJogador{
    height: auto;
    justify-content: center;
    color:white;
    background-image: url('../imagens/wallpapers/wallpaper_personagens.png');
    background-position: center;
    padding-bottom: 50px;
}

.tituloPagina{
    color: #00ffff;
    margin-top: 0;
    padding-top: 20px;
}

#caixaCriarFicha{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    height: auto;
}

#camposString{
    display: flex;
}

body{
    background-color: #333;
}

#formFicha{
    background-color: rgb(88, 88, 88);
    width: 1200px;
    height: 100%;
    border: #00ffff 3px solid;
    padding-left: 20px;
    padding-top: 10px;
    justify-content: center;
    text-align: center;
}

.descricoesFicha{
    font-family:'Oswald', sans-serif;
    font-size: 20px;

}

.fichasH3{
    font-weight: bold;
    font-size: 25px;
}

#selectAntecedente{
    border-radius: 3px;
    background-color: #333;
    color: white;
    font-family:'Open sans', sans-serif;
    margin-left: 10px;
    margin: 50px;
    width: 800px;
    height: 90px;
    font-size:x-large;
}

.inputFicha{
    margin-right: 20px;
    background-color: #333;
    color: white;
    font-family:'Open sans', sans-serif;
}

h3{
    font-size: 35px;
    font-weight: bold;
    color: #00ffff;


}

.atributos{
    font-weight: bold;
    font-size: 25px;
    border: #05b8e9 3px solid;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

#pontosRestantes{
    display: flex;
    justify-content: center;
}

#atributosDisplay{
    display: flex;
    flex-direction: column;
}

#primeirosAtributos{
    display: flex inline;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

#segundosAtributos{
    display: flex inline;
    justify-content: space-evenly;
}

.formAtributo{
    margin-right: 40px;
}

#botoes{
    flex-direction: row-reverse;
    margin: 50px;
}

#butFinalizar{
    background-color: #f3eb00;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-family:'Open sans', sans-serif; font-weight: bold;
    font-size: medium;
    font-weight: bold;
    padding: 20px;
}

#butContinuar2{
    background-color: #f3eb00;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-family:'Open sans', sans-serif; font-weight: bold;
    font-size: medium;
    font-weight: bold;
    padding: 20px;
}

#butContinuar1{
    background-color: #f3eb00;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-family:'Open sans', sans-serif; font-weight: bold;
    font-size: medium;
    font-weight: bold;
    padding: 20px;
}

#butSair{
    background-color: rgb(186, 1, 1);
    color: white;  
    border-radius: 4px;
    width: 80px auto;
    font-family:'Open sans', sans-serif; font-weight: bold;
    font-size: medium;
    font-weight: bold;
    padding: 20px;
}

@media screen and (max-width: 767px) {
    #caixaCriarFicha{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
        height: auto;
        overflow-y: scroll;
    }
    #atributosDisplay{
        flex-direction: column;
    }
    #primeirosAtributos{
        display: grid;
        grid-template-rows: repeat(3, minmax(0, 1fr));
        justify-content:center;
    }
    #segundosAtributos{
        display: grid;
        grid-template-rows: repeat(3, minmax(0, 1fr));
        justify-content:center;
    }
    .formAtributo{
        margin-right: 0px;
        margin-bottom: 40px;
    }
}