.mainFichasJogador{
    height: 78vh;
    justify-content: center;
}

.menuDeBotoes{
    display: flex;
    justify-content: end;
    align-items: start;
    text-align: end;
    margin: 20px;
    
}

.botaoAdicionar{
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: #353535;
    font-family:'Oswald', sans-serif;
    color: #009334;
}