.mainFichasJogador{
    margin: 20px auto;
    height: 78vh;
    flex: auto;
    display: flex;
    justify-content: center;
}

.menuDeBotoes{
    display: flex;
    justify-content: end;
    align-items: start;
    text-align: end;
    width: 100vw;
    margin: 20px;
}

.botaoAdicionar{
    padding: 10px;
    border-radius: 10px;
    background-color: aliceblue;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}